NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_CARTO_API_KEY=your_carto_api_key
NEXT_PUBLIC_MP_PUBLIC_KEY=your_mercado_pago_public_key
NEXT_PUBLIC_GOOGLE_CLIENT_ID=122293862526-ii0t0bra2cru5p3ag96fgdj2r51ruv8k.apps.googleusercontent.com
